body {
    background-color: #ccc
}
:root {
    --l: 300px
}
#clock-container {
    width: var(--l);
    height: var(--l);
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#fondo,
#second-clock-hand,
#minute-clock-hand,
#hour-clock-hand,
#dots {
    position: absolute;
}

#svg-elements {
    position: relative;
}

#fondo {
    width: var(--l);
    height: var(--l);
    background: lightgray;
    box-shadow: inset -5px -5px 5px 3px white,
    inset 5px 5px 5px 3px black,
    -5px -5px 5px 3px white,
    5px 5px 5px 3px black;
    border-radius: 50%;
    opacity: 0.3;

}